<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="preload" as="font" type="font/woff2"
   href="../fonts/pt-sans-v11-latin_cyrillic-700.woff2" crossorigin>
   <link rel="preload" as="font" type="font/woff2"
   href="../fonts/pt-sans-v11-latin_cyrillic-regular.woff2" crossorigin>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Оформление заказа — успех</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header class="catalog-nav">
        <div class="container">
            <div class="catalog-nav__inner">
                <div class="header__nav">
                    <div class="header__logo">
                        <a href="index.html">Фетч</a>
                    </div>
                    <div class="nav-menu">
                        <ul class="menu">
                            <li class="nav-item"><a href="#" class="nav-link">Одежда</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Обувь</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Аксессуары</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Блог</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Магазин</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Доставка и оплата</a></li>
                        </ul>
                    </div>
                    <div class="personal-item">
                        <div class="order">
                            <div class="circle"><img src="../../../img/svg/icon-cart.svg" alt=""></div>
                            <div class="order-text">
                                <a href="#" class="order-link">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="chekout-complete">
        <div class="container">
            <div class="chekout-complete__inner">
                <div class="processed">
                    <div class="processed__title">
                        Заказ №213 оформлен
                    </div>
                    <div class="processed__text">
                        Скоро вам позвонит менеджер, чтобы подтвердить заказ.
                        <a href="../index.html">Вернуться на главную</a> или <a href="catalog.html">продолжить покупки в каталоге</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="interesting">
        <div class="container">
            <div class="interesting__inner">
                <div class="interesting__title">Вам может быть интересно</div>
                <div class="interesting__slider">

                    <div class="interesting__slider-item">
                        <a href="#"><img src="../../img/catalog/img-3.jpg" alt=""></a>
                        <h4><a href="#"> Maison Margiela Fusion<br>Low Sneakers</a></h4>
                        <p>Кроссовки</p>
                        <div class="price">92 000 ₽</div>
                    </div>
                    <div class="interesting__slider-item">
                        <a href="#"><img src="../../img/catalog/img-9.jpg" alt=""></a>
                        <h4><a href="#"> Maison Margiela Fusion<br>Low Sneakers</a></h4>
                        <p>Кроссовки</p>
                        <div class="price">92 000 ₽</div>
                    </div>
                    <div class="interesting__slider-item">
                        <a href="#"><img src="../../img/catalog/img-16.jpg" alt=""></a>
                        <h4><a href="#"> Maison Margiela Fusion<br>Low Sneakers</a></h4>
                        <p>Кроссовки</p>
                        <div class="price">92 000 ₽</div>
                    </div>
                    <div class="interesting__slider-item">
                        <a href="#"><img src="../../img/catalog/img-1.jpg" alt=""></a>
                        <h4><a href="#"> Maison Margiela Fusion<br>Low Sneakers</a></h4>
                        <p>Кроссовки</p>
                        <div class="price">92 000 ₽</div>
                    </div>
                    <div class="interesting__slider-item">
                        <a href="#"><img src="../../img/catalog/img-14.jpg" alt=""></a>
                        <h4><a href="#"> Maison Margiela Fusion<br>Low Sneakers</a></h4>
                        <p>Кроссовки</p>
                        <div class="price">92 000 ₽</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @@include("../../blocks/modules/footer/footer.html")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>
