<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="preload" as="font" type="font/woff2"
   href="../fonts/pt-sans-v11-latin_cyrillic-700.woff2" crossorigin>
   <link rel="preload" as="font" type="font/woff2"
   href="../fonts/pt-sans-v11-latin_cyrillic-regular.woff2" crossorigin>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Оформление заказа</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>

    <section class="chekout">
        <div class="container">
            <div class="chekout__inner">
                <div class="chekout__title">
                    <h1>Фетч <span>•</span> Оформление заказа</h1>
                </div>
                <div class="chekout__main">
                    <div class="chekout__main-goods">
                        <div class="chekout__main-goods__item">
                            <div><img src="../../img/chekout/img.jpg" alt=""></div>
                            <div class="chekout__main-goods_info">
                                <h4>Maison Margiela Fusion Low Sneakers</h4>
                                <p>Кроссовки</p>
                                <div class="price">92 000 ₽</div>
                            </div>
                        </div>
                        <div class="chekout__main-goods__item">
                            <div><img src="../../img/chekout/img-1.jpg" alt=""></div>
                            <div class="chekout__main-goods_info">
                                <h4>Maison Margiela Fusion Low Sneakers</h4>
                                <p>Кроссовки</p>
                                <div class="price">92 000 ₽</div>
                            </div>
                        </div>
                        <div class="chekout__main-goods__item">
                            <div><img src="../../img/chekout/img-2.jpg" alt=""></div>
                            <div class="chekout__main-goods_info">
                                <h4>Maison Margiela Fusion Low Sneakers</h4>
                                <p>Кроссовки</p>
                                <div class="price">92 000 ₽</div>
                            </div>
                        </div>
                    </div>
                    <div class="chekout__main-registration">
                        <form action="#">

                            <div><label for="">Эл. почта<input class="email" type="text" placeholder="petrov@yandex.ru"></label></div>
                            <div class="underinput">Пришлём чеки и трек-номер</div>
                            <div><label for="">Телефон<input class="telephone" type="text" placeholder="+7 999 275-12-37"></label></div>
                            <div class="underinput">Менеджер позвонит, чтобы подтвердить заказ</div>
                            <div><label for="">Город<input class="city" type="text" placeholder="Москва"></label></div>
                            <div><label for="">Адрес<textarea class="uaddress" type="text" placeholder="Тимирязевская, 32, квартира 99, вход со двора"></textarea></label></div>
                            <div class="payment">
                                <div class="delivery">
                                    Бесплатная<br> доставка курьером.
                                    Оплата картой онлайн.
                                </div>
                                <button class="btn">Оформить заказ, 276 000 ₽</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="bot__price">
                    <div class="price">276 000 ₽</div>
                    <div class="sub-price">Доставка бесплатно</div>
                </div>
            </div>
        </div>
    </section>
    <footer class="chekout-footer">
        <div class="container">
            <div class="chekout-footer__inner">
                <div>©&nbsp;Фетч-команда, 2019</div>
                <div>8 800 912-11-42, звонок бесплатный</div>
                <div><a href="emailto:shop@fetch.ru">shop@fetch.ru</a></div>
                <div class="data"><a data-fancybox="" data-src="#modal" href="javascript:;">Правила обработки персональных данных</a></div>
            </div>
        </div>
    </footer>
    <div id="modal">
        <h3>Правила обработки персональных данных</h3>
        <p>Предоставляя свои персональные данные, Пользователь дает согласие на обработку, хранение и использование своих данных на основании ФЗ №152-ФЗ «О персональных данных» от 27.07.2006г. в следующих целях:</p>
        <ul>
            <li>Осуществление клиентской поддержки;</li>
            <li>Получения Пользователем информации о маркетинговых событиях;</li>
            <li>Проведения аудита и внутренних исследований с целью повышения качества предоставляемых услуг.</li>
        </ul>
        <p>Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя, такая как:</p>
        <ul>
            <li>Фамилия, имя и отчество</li>
        </ul>
        <p>Персональные данные Пользователей хранятся сключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.</p>
        <p>Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:</p>
        <p>По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленном законодательством РФ</p>
        <p>Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</body>

</html>
