.item-nav {
    padding-bottom: 46px;

    .header__nav {
        padding-top: 1.5vh;
        display: flex;
        align-items: center;

        .header__logo {
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;

            a {
                color: #000;
                text-decoration: none;
            }

        }

        .menu {
            display: flex;
            list-style: none;
            margin-left: 42px;

            .nav-item:not(:first-child) {
                padding-left: 24px;
            }

            a {
                color: #000;
                transition: all .2s ease;

                &:hover {
                    color: #4541FE;
                }
            }
        }
    }

    .personal-item {
        margin-left: auto;
    }

    .order {
        display: flex;

        &::before {
            content: "4";
            color: #fff;
            width: 16px;
            height: 16px;
            background: #4541FE;
            border-radius: 50%;
            transform: translateY(-8px) translateX(25px);
            text-align: center;
        }

        &-text {
            padding-left: 6px;

            a {
                color: #000;
            }
        }

    }
}

.main__inner {
    display: flex;
}

.main {
    font-size: 18px;

    &__info {
        width: 450px;
        padding-right: 54px;

        &-title {
            font-size: 32px;
            line-height: 41px;
        }

        &-subtitle {
            font-size: 13px;
            margin: 0;
            padding-top: 8px;
        }

        &-item__buy {
            margin: 32px 0 40px -20px;
            width: 450px;
            height: 267px;
            background-color: #f2f2f2;
            font-size: 16px;

            .color {
                padding: 29px 0 0 24px;
            }

            .color-item {
                padding-left: 132px;
            }

            .size-us {
                padding: 35px 0 0 24px;
            }

            .tab {
                background: #FBFBFB;
                color: #666;
                padding: 8px;
                border: 1px solid #DDDDDD;
                box-sizing: border-box;
                border-radius: 8px;
                cursor: pointer;
                margin-left: 20px;
                transition: all .1s ease;

                &:first-child {
                    margin-left: 50px;
                }

                &:hover {
                    border: 1px solid #666666;
                }

            }

            .tab-2 {
                background: #FBFBFB;
                color: #666;
                padding: 8px 16px;
                border: 1px solid #DDDDDD;
                box-sizing: border-box;
                border-radius: 8px;
                cursor: pointer;
                margin-left: 12px;
                transition: all .1s ease;

                &:first-child {
                    margin-left: 10px;
                }

                &:hover {
                    border: 1px solid #666666;
                }
            }

            .active {
                background: #666666;
                color: #fff;
                border: 1px solid #666666;
                box-sizing: border-box;
                border-radius: 8px;
            }

            .size-table {
                padding: 30px 0 0 24px;

                a {
                    font-size: 13px;
                    color: #000;
                    transition: all .2s ease;

                    &:hover {
                        color: #4541FE;
                    }
                }
            }

            .btn {
                margin: 40px 0 0 24px;
                background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
                box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
                border-radius: 4px;
                border: none;
                padding: 11px 25px;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    background: linear-gradient(180deg, #F5BF00 0%, #F0AD00 100%);
                }
            }
        }

        &-about {
            display: flex;
            padding-bottom: 32px;

            p {
                margin: 0;
                margin-top: 2px;
            }

            .material {
                padding-right: 32px;
            }
        }

        &-description {
            line-height: 23px;

            .description {
                font-size: 13px;
                color: #dddddd;
                line-height: 17px;
            }

            ul {
                margin-top: 51px;
            }

            li {
                list-style: none;
            }

            li:before {
                content: "—";
                position: relative;
                left: -5px;
            }
        }
    }

    .showing {

        .showing-img {
            margin-bottom: 24px;
        }

        .mini-img:not(:first-child) {
            margin-left: 16px;
        }

        .active-img {
            opacity: .3;
        }
    }
}

.interesting {
    margin-top: 64px;

    &__title {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    &__slider {
        margin-left: 40px;
    }

    &__slider-item {
        margin-left: 32px;
        font-size: 13px;

        h4 {
            font-size: 16px;
            text-decoration: underline;

            a {
                color: #000;
                transition: all .2s ease;

                &:hover {
                    color: #4541FE;
                }
            }
        }

        .price {
            font-weight: 700;
            font-size: 16px;
        }

    }

    &__slider-item:first-child {
        margin: 0;
    }

    button {
        position: absolute;
        top: 50%;
        z-index: 3;
        width: 28.24px;
        height: 24px;
        border: none;
        cursor: pointer;
        outline: none;
        text-indent: -999em;

    }

    .slick-prev {
        left: -71px;
        background: url(../img/svg/arr-left.svg) no-repeat center;
    }

    .slick-next {
        right: -45px;
        background: url(../img/svg/arr-right.svg) no-repeat center;

    }
}



table {
    border-collapse: collapse;
    margin-top: 24px;

    td,
    th {
        border: 1px solid #DDDDDD;
        padding: 12px 30px;
    }

}

#table {
    display: none;
}


//test
